<th:block th:replace="~{admin/fragments/header}"></th:block>

<div class="container">
    <th:block th:replace="~{admin/fragments/validation :: formErrors(${errors})}"/>
</div>

<div class="container">
    <div class="card shadow mb-4 border border-dark">
        <div class="card-header">
            <a th:href="@{/admin/users}" class="btn btn-dark float-right"> <i
                    class="fa fa-arrow-left"> </i>
                Geri</a>
        </div>
        <div class="card-body">
            <form th:action="@{/admin/users/edit}" th:object="${userIUDRequest}" method="POST"
                  enctype="multipart/form-data" class="text-primary">
                <input type="hidden" name="id" th:value="${user.id}">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="firstName">Ad :</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" th:value="${user.firstName}" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="lastName">Soyad :</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" th:value="${user.lastName}" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="fatherName">Ata Adı :</label>
                        <input type="text" name="fatherName" id="fatherName" class="form-control" th:value="${user.fatherName}" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="email">Email :</label>
                        <input type="email" name="email" id="email" class="form-control" th:value="${user.email}" required>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Şifrə :</label>
                        <input type="password" name="password" class="form-control password" id="password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password_confirmation">Şifrəni təstiqlə :</label>
                        <input type="password" name="passwordConfirmation" class="form-control password" id="password_confirmation" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="checkbox">Şifrəni göstər :</label>
                        <input type="checkbox" onclick="myFunction()" id="checkbox">
                    </div>
                </div>
                <hr>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-edit"></i> Yenilə</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<script>
    function myFunction() {
        var x = $('.password').attr('type');

        if (x === "password") {
            document.getElementById("password").type = "text";
            document.getElementById("password_confirmation").type = "text";
        } else {
            document.getElementById("password").type = "password";
            document.getElementById("password_confirmation").type = "password";
        }
    }
</script>

<script>
    $('.btn-secondary').click(function (e) {
        e.preventDefault()
        $('.form-check-input').prop('checked', true);
    })
</script>

<style>
    hr {
        border: 1px solid black;
    }
</style>

<th:block th:replace="~{admin/fragments/footer}"></th:block>